body {
    font-family: 'Montserrat', sans-serif;
}

.container{
    clear:both;
    overflow:auto;
  }

nav{
    float:right;
}

.logo img{
    float:left;
}

ul li{
  display: inline-block; 
  padding:15px;
  font-size:15px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

ul li:hover{
  text-decoration: underline;
  text-decoration-color: #FFC411;
  cursor: pointer;
  
}

.currentPage{
    text-decoration: underline;
    text-decoration-color: #FFC411;
}

.flexContainer{
    display: flex;
    flex-direction: column;
}

.homeButton{
    background-color: black;
    border-color: black;
    color: #f2f2f2;
    width: 40%;
    margin-top: 2%;
    margin-inline-end: 3%;
    margin-inline-start: 3%;
    display: inline;
}

.flexContainer h1 {
    background-image: linear-gradient(#ffffff 50%, #ffffff 50%, #F6C547 50%, #F6C547 50%);
    margin: 0%;
    padding-left: 5%;
}

.flexContainer h2{
    font-weight: 100;
    font-size: medium;
    background-color: #F6C547;
}

.homeHero{
    padding-bottom: 5%;
}
.background{
    background-color: #F6C547;
    padding-left: 5%;
}

.contentArea {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "composerFest critGroup projectProp";
    padding-bottom: 20%;
    padding-left: 2%;
}
#composerFest {
    grid-area: composerFest;
    padding-right: 50px;
}

.composerFestImage {
    background-image: url('../Images/22CompFest .png');
    height: 125%;
    background-size: 350px;
    background-repeat: no-repeat;
}

.critGroupImage {
    background-image: url('../Images/critGroup.png');
    height: 125%;
    background-size: 350px;
    background-repeat: no-repeat;
}

.projectPropImage {
    background-image: url('../Images/projectProp.png');
    height: 125%;
    background-size: 350px;
    background-repeat: no-repeat;
}

.composerFestImage:hover{
    filter: brightness(50%);
    cursor: pointer;
}

.critGroupImage:hover{
    filter: brightness(50%);
    cursor: pointer;
}
.projectPropImage:hover{
    filter: brightness(50%);
    cursor: pointer;
}
#critGroup {
    grid-area: critGroup;
    padding-right: 50px;
}
#projectProp {
    grid-area: projectProp;
}

.content p {
    width: 350px;
    height: 50%;
}
button {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFC411;
    font-weight: 700;
    border-radius: 4px;
    border-color: #FFC411;
    border-style: solid;
    height: 40px;
    width: 228px;
}

button:hover {
box-shadow: 0px 4px 4px 0px gray;
cursor: pointer;
}

.hero {
    background-color: black;
    margin: 0;
    padding: 2%;
    margin-top: 10%;
}

.hero h1 {
    color: #f2f2f2;
}

.hero h2 {
    color: #f2f2f2;
    font-size: medium;
    font-weight: 400;
}

.footer {
    display: inline-block;
    vertical-align: top;
    background-color: black;
    margin-right: 2%;
    width: 100%;
}

.footer li {
    color: #f2f2f2;
    font-size: small;
    text-align: center;
}

.footerLogos {
    float: right;
    margin-right: 2%;
}

a {
    color:#8CA5FF;
    text-decoration: underline;
}

a:hover {
    cursor: pointer;
}

.footer nav{
    float: left;
}

.bio{
    display: flex;
    align-items: center;
}

.homeText{
    padding: 2%;
    margin: 2%;
}

.homeImage {
    width: 50%;
    padding: 2%;
 }

.homeHeroImage{
    width: 100%;
}

.workGrid {
        display: grid;
        grid-template-columns: minmax(0, 1fr 1fr 1fr);
        grid-template-areas: 'festival crit project';
        column-gap: 5%;
        margin-bottom: 20%;
        column-width: 30%;
 }

.festival{
    grid-area:festival;
}

.crit{
    grid-area:crit;
}

.project{
    grid-area:project;
}

@media only screen and (max-width: 800px){ 
    .workGrid{
        grid-template-rows: minmax(0, 1fr 1fr 1fr);
        grid-template-columns: none;
        grid-template-areas: 
        "festival"
        "crit"
        "project";
        row-gap: 60%;
        margin-left: 2%;
    }
    .workGrid p {
        font-size: small;
    }

    .composerFestImage{
        height: 150%;
        width: auto;
        background-repeat: no-repeat;
    }
    .critGroupImage{
        height: 150%;
        width: auto;
        background-repeat: no-repeat;
    }

    .projectPropImage{
        height: 150%;
        width: auto;
        background-repeat: no-repeat;
    }

    .flexContainer{flex-direction: column; width: 100%;}
    .homeImage {
        display: inline-flex;
    }
    .homeText{
        display: inline-flex;
        font-size: small;
    }

    .hero {
        margin-top: 115%;
    }
}
